/*------------------------------------*\
    File variabel
\*------------------------------------*/

$font--primary: 'Roboto',
sans-serif;
$color--primary:#039EA5;
$color-primary--darken:#088187;
// $color--secondary:#BE8C2C;
// $color--secondary--darken:#a97d27;
$color--secondary:#f8f9fa;
$font-color--primary: #2c3e50;
$font-color--secondary: #f8f9fa;