/*------------------------------------*\
    Slider style
\*------------------------------------*/

.c-card {

    &-atas {
        min-width: 100%;
        max-height: 400px;
        object-fit: cover;
        object-position: center;
    }

    &-bawah {
        max-height: 100px;
        object-fit: cover;
        object-position: center;
    }

}

.swiper-container {
    width: 100%;
    height: 400px;
    margin: 20px auto;
}

.swiper-slide-container {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 100%;
    max-width: 600px;
    margin: auto;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.gallery-top {
    width: 100%;
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.gallery-thumbs .swiper-slide {
    width: 20%;
    height: 100%;
    opacity: 0.4;
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1;
}

/*------------------------------------*\
    Konten style
\*------------------------------------*/

.c-kanan {

    h1 {
        font-size: 30px;
        color: $color--primary;
        margin-top: 40px;
    }

    .nav {

        &-pills {
            .nav-link.active {
                background-color: $color--primary;
            }
        }

        &-link {
            color: $color--primary;
        }

    }

}


/*------------------------------------*\
    Recomendation styling
\*------------------------------------*/

.c-mice-recomendation {
    height: 250px;
    background-color: $color--secondary;

    .wording {
        padding: 30px;

        h2 {
            text-transform: capitalize;
            letter-spacing: 1px;
            color: $color--primary;
        }

        p {
            max-width: 450px;
            letter-spacing: 1px;
            font-weight: 400;
            font-size: 15px;
            line-height: 20px;
            word-break: keep-all;
            opacity: 0.8;
        }
    }

    .c-card-product {
        width: 250px;
        margin: auto;
    }
}