//import variable
@import "../util/variables";

/*------------------------------------*\
    Button Styling
\*------------------------------------*/

.btn--primary {
    min-width: 150px;
    min-height: 40px;
    border-radius: 5px;
    background-color: $color--primary;
    border-color: $color--primary;
    color: $font-color--secondary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    // box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);

    &:hover {
        background-color: $color-primary--darken;
        border-color: $color-primary--darken;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);
        transform: translateY(-1px);
    }

    &:active {
        background-color: $color--primary !important;
        border-color: $color--primary !important;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);
        transform: translateY(-1px);
    }

    &:focus {
        background-color: $color-primary--darken !important;
        border-color: $color-primary--darken !important;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27) !important;
    }
}


.btn--secondary {
    min-width: 150px;
    min-height: 40px;
    border-radius: 5px;
    background-color: $color--secondary;
    border-color: $color--secondary;
    color: $color--primary;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    // box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);

    &:hover {
        background-color: $color--secondary;
        border-color: $color--secondary;
        color: $color--primary;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);
        transform: translateY(-1px);
    }

    &:active {
        background-color: $color--secondary !important;
        border-color: $color--secondary !important;
        color: $color--primary !important;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27);
        transform: translateY(-1px);
    }

    &:focus {
        background-color: $color--secondary !important;
        border-color: $color--secondary !important;
        color: $color--primary !important;
        box-shadow: 0 10px 10px 0 rgba(83, 83, 83, 0.27) !important;
    }
}